/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General rules */
body {
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
}

.container {
    width: 60%;
    margin: auto;
}

/* Title */
h1 {
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 65px;
    color: white;
    padding-bottom: 20px;
}

/* Rows */
.row {
    text-align: center;
}

.card {
    display: inline-block;
    margin: 15px;
    width: 18%;
    height: 180px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;
    /* oppure "display: block" */

    background-image: url("../img/boolean-logo.png");
    background-size: 40px;
    background-color: white;
}

 /* General img rules*/
.card img {
    display: block;
    width: 100%;
    /* Riempie lo spazio */
}

.card img, .title {
    display: none;
}

.card h3 {
    font-size: 20px;
    color: orange;
    text-shadow: 1px 1px black;
}

.face-up,
.card:hover {
    /*  Scompare tutto e si vede solo lo sfondo */
    background-image: none;
    /*  Togliamo img di sfondo da face-up in modo fisso
        e alle altre al passaggio del mouse */
}

.card h3 {
    display: none;
}

.card:hover img, 
.card:hover h3, 
.face-up img, 
.face-up h3 {
    display: block;
}


/* Footer */
footer {
    text-align: center;
    margin: 30px;
}

h4 {
    font-size: 30px;
    text-shadow: 1px 1px white;
}